<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Todo App</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  </head>
  <body>
    <h1>Todo List</h1>

    <form
      hx-post="http://127.0.0.1:8000/new/todo/"
      hx-swap="beforeend"
      hx-target="#todo-list"
    >
      <input type="text" name="title" placeholder="Add a todo..." required />
      <!-- <select name="completed" title="status" required>
        <option value="false" selected>Incomplete</option>
        <option value="true">Completed</option>
      </select> -->
      <button type="submit">Add</button>
    </form>

    <ul id="todo-list" hx-get="http://127.0.0.1:8000/" hx-trigger="load">
      <!-- Todos will be loaded here -->
    </ul>
  </body>
</html>
